<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shimao.jsbase.dao.UserDao">

    <resultMap id="UserResultMap" type="com.shimao.jsbase.entity.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
        <result column="is_active" property="isActive" jdbcType="BIT" />
    </resultMap>

    <sql id="base_column">
        id,user_name,password,create_time,update_time,is_active
    </sql>

    <select id="getAll" resultMap="UserResultMap">
        SELECT  <include refid="base_column"/> FROM user
    </select>

    <insert id="insert" parameterType="com.shimao.jsbase.entity.User">
        INSERT INTO user
        (
        `user_name`,
        `password`,
        `create_time`,
        `update_time`,
        `is_active`)
        VALUES
        (
        #{user_name},
        #{password},
        #{create_time},
        #{update_time},
        #{is_active}
        );
    </insert>

    <update id="update" parameterType="com.shimao.jsbase.entity.User">
        UPDATE user
        SET
        `user_name` = #{user_name},
        `password` =  #{password},
        `create_time` = #{create_time},
        `update_time` = #{update_time},
        `is_active` = #{is_active}
        WHERE `id` = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM user
        WHERE id=#{id}
    </delete>

</mapper>
